

#nav-header {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    color: #FFFFFF;
    border: 1px solid #555;
    background-color: #000080;
    font-family: "Comic Sans MS";
    opacity: .8;
    height: 7rem;
    padding: 2rem;
    font-size: 25px
}


/* #nav-header img {
    height: 6rem;
    width: auto;
  } */

.nav-button {
    display: right;
    border: 1px solid #555;
    font-size: 11px;
    background: ABD4F7;
    opacity: .8;
    height: 32px;
    width: 96px;
    padding: 1rem;
}


 /* USE for LIs: */
ul#todoList li {
  position: relative;
  padding: 5px;
  margin: 5px;
  background-color: #ededed;
  border: 2px inset #ededed;
}


ul#allSeqList li span.delete {
  display: inline-block;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
