

#nav-header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    border: 1px solid #555;
    background-color: #000080;
    font-family: "Papyrus";
    height: 7rem;
    padding: 2rem;
    font-size: 10px;
}


/* #nav-header img {
    height: 6rem;
    width: auto;
  } */

form {
  font-family: "Papyrus"
}

.nav-button {
    display: right;
    border-radius: 25px;
    height: 70px;
    width: 130px;
    background-color:	red;
    color: 	#FFFFFF;
    font-family: "Papyrus";
    font-size: 12px;
    text-align: center;
    border: #FFFFFF;
}



 /* USE for LIs: */
ul#todoList li {
  position: relative;
  padding: 5px;
  margin: 5px;
  background-color: #ededed;
  border: 2px inset #ededed;
}


ul#allSeqList li span.delete {
  display: inline-block;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
